<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e40efbeb-ef29-4fae-b414-37242c93b866" name="https://swapi.co TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e40efbeb-ef29-4fae-b414-37242c93b866fileName">https%3A%2F%2Fswapi.co-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
